*, p, li, em, blockquote, span, strong, tr, td, th {
  font-family: "Oxygen", HelveticaNeue, sans-serif;
  color: #2d2d2d;
  font-weight: 300; }

header, footer {
  background-color: #fff; }

body {
  background: #f9f9f9; }

h1, h2, h3, h4, h5 {
  font-family: "Oxygen", HelveticaNeue, sans-serif;
  font-weight: 300;
  color: #2d2d2d;
  text-transform: uppercase; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4, h5, h6 {
  font-size: 1em; }

a {
  color: #0b72b8;
  padding-bottom: 1em; }

a:hover, a:focus {
  color: #b90719;
  border-bottom: 3px solid #b90719;
  padding-bottom: 0;
  transition: padding-bottom 500ms, color 1000ms; }

header.site-header {
  min-height: 120px;
  padding-top: 50px;
  background: #fff;
  border-bottom: 1px solid #f9f9f9;
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0; }

.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.section-title {
  clear: both;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center; }
  .section-title h2 {
    margin-bottom: 0px;
    padding-bottom: 12px;
    background: transparent url(../assets/section-divider.png) center bottom no-repeat;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block; }

h1.logo {
  height: 40px;
  width: 45%;
  float: left;
  background: transparent center center no-repeat;
  font: 0/0 serif;
  color: transparent;
  background-size: contain; }
  h1.logo.bb {
    background-image: url(../assets/backbeat-logo.png);
    background-position: left center; }
  h1.logo.r6 {
    background-image: url(../assets/robo6k-logo.png);
    background-position: right center; }

.site-header em {
  float: left;
  font-size: 2em;
  font-weight: 400;
  line-height: 36px;
  width: 10%;
  text-align: center;
  font-style: normal; }

.main-nav {
  text-align: right; }
  .main-nav a {
    display: inline-block;
    line-height: 48px;
    margin: 0 1%; }

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .main-nav a {
    font-size: .8em; } }
@media screen and (max-width: 640px) {
  .main-nav {
    text-align: center; } }
.top-text {
  margin: 255px auto 60px; }
  .top-text blockquote {
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: .04em;
    border: none; }

.featured-project {
  margin-bottom: 28px;
  display: flex;
  display: -webkit-flex;
  position: relative; }
  .featured-project .folio-desc {
    background-color: #fff;
    display: flex;
    display: -webkit-flex; }
    .featured-project .folio-desc .desc-content {
      align-self: center;
      -webkit-align-self: center;
      padding: 0 40px; }
      .featured-project .folio-desc .desc-content a {
        padding-bottom: 2em; }
  .featured-project .folio-screenshot {
    display: flex;
    display: -webkit-flex; }

.featured-project:hover .folio-desc, .featured-project:focus .foli-desc {
  background-color: #222;
  transition: all 1000ms; }
  .featured-project:hover .folio-desc .desc-content h2, .featured-project:focus .foli-desc .desc-content h2 {
    color: #fff; }
  .featured-project:hover .folio-desc .desc-content p, .featured-project:focus .foli-desc .desc-content p {
    color: #ccc; }
    .featured-project:hover .folio-desc .desc-content p a, .featured-project:focus .foli-desc .desc-content p a {
      color: #b90719;
      transition: all 500ms; }
      .featured-project:hover .folio-desc .desc-content p a:hover, .featured-project:focus .foli-desc .desc-content p a:hover {
        padding-bottom: 1em; }

.services-wrap {
  margin-top: 30px;
  margin-bottom: 90px; }
  .services-wrap .section-title h2 {
    margin-bottom: 0; }

.services-header {
  margin-top: 90px;
  margin-bottom: 0; }
  .services-header h2 {
    margin: 0; }

ul.services .service-block h3 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 72px;
  background: transparent url(../assets/icon-callout.png) top center no-repeat;
  background-size: auto 60px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: .01em; }
  ul.services .service-block h3.web-responsive {
    background-image: url(../assets/icon-responsive.png); }
  ul.services .service-block h3.web-development {
    background-image: url(../assets/icon-gears.png); }
  ul.services .service-block h3.web-maintenance {
    background-image: url(../assets/icon-pencil.png); }
  ul.services .service-block h3.it-network {
    background-image: url(../assets/icon-network.png); }
  ul.services .service-block h3.it-email {
    background-image: url(../assets/icon-email.png); }
  ul.services .service-block h3.it-desktop {
    background-image: url(../assets/icon-mouse.png); }
  ul.services .service-block h3.it-sharepoint {
    background-image: url(../assets/icon-sharepoint.png); }

.page-title {
  margin: 235px 0 30px;
  text-align: center; }
  .page-title h2 {
    display: inline-block;
    background: transparent url(../assets/section-divider.png) center bottom no-repeat;
    padding-bottom: 12px; }

.monitor-wrap {
  position: relative;
  width: 914px;
  max-width: 100%;
  margin: 80px auto 60px;
  overflow: hidden;
  padding-top: 3.35%; }

.orbit-container {
  width: 914px;
  max-width: 100%;
  margin: 0 auto; }
  .orbit-container .folio-slides {
    width: 914px;
    max-width: 100%; }
  .orbit-container .orbit-prev {
    left: 3.5%;
    top: 35%; }
  .orbit-container .orbit-next {
    right: 3%;
    top: 35%; }
  .orbit-container .orbit-prev, .orbit-container .orbit-next {
    background-color: #222;
    z-index: 1000; }
    .orbit-container .orbit-prev:hover, .orbit-container .orbit-prev:focus, .orbit-container .orbit-next:hover, .orbit-container .orbit-next:focus {
      border-bottom: none; }

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; }

footer {
  padding: 45px; }
  footer h2.contact-header {
    font-size: 1.2em;
    margin-bottom: 1.4em;
    font-weight: 400; }
  footer h3 {
    font-size: 1em; }

@media screen and (max-width: 640px) {
  nav.main-nav, h1.logo {
    text-align: center; } }
@media screen and (min-width: 800px) and (max-width: 1024px) {
  .row.featured-project {
    max-width: 800px; } }
@media screen and (max-width: 800px) {
  .featured-project {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column; }

  .folio-screenshot {
    order: -1;
    -webkit-order: -1;
    width: 100%; }

  .folio-desc {
    display: block;
    order: 1;
    -webkit-order: 1;
    margin-top: 12px;
    padding-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
    width: 100%; }

  .flex {
    display: block;
    width: 100%; } }
.no-flexbox .flex, .no-flexbox .featured-project, .no-flexbox .folio-desc {
  display: block; }
.no-flexbox .folio-desc {
  background-color: transparent;
  padding-top: 24px; }
