*, p, li, em, blockquote, span, strong, tr, td, th {
  font-family: "Oxygen", HelveticaNeue, sans-serif;
  color: #2d2d2d;
  font-weight: 300; }

header, footer {
  background-color: #fff; }

body {
  background: #f9f9f9; }

h1, h2, h3, h4, h5 {
  font-family: "Oxygen", HelveticaNeue, sans-serif;
  font-weight: 300;
  color: #2d2d2d; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h4, h5, h6 {
  font-size: 1em; }

header.site-header {
  min-height: 175px; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.section-title {
  clear: both;
  text-align: center; }
  .section-title h2 {
    margin-bottom: 60px;
    padding-bottom: 8px;
    border-bottom: 1px solid #222;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block; }

.top-text {
  margin: 80px auto 60px; }

.featured-project {
  margin-bottom: 28px;
  display: flex;
  position: relative; }
  .featured-project .folio-desc {
    background-color: #fff;
    display: flex; }
    .featured-project .folio-desc .desc-content {
      align-self: center;
      padding: 0 40px; }
  .featured-project .folio-screenshot {
    display: flex; }

.featured-project:hover .folio-desc {
  background-color: #222;
  transition: all 1000ms; }
  .featured-project:hover .folio-desc .desc-content h2, .featured-project:hover .folio-desc .desc-content p {
    color: #fff; }
    .featured-project:hover .folio-desc .desc-content h2 a, .featured-project:hover .folio-desc .desc-content p a {
      color: #fff; }

ul.services .service-block h2 {
  text-align: center;
  text-transform: uppercase;
  padding-top: 60px;
  background: transparent url(../assets/icon-callout.png) top center no-repeat; }
  ul.services .service-block h2.web-responsive {
    background-image: url(../assets/icon-responsive.png); }
  ul.services .service-block h2.web-development {
    background-image: url(../assets/icon-gears.png); }
  ul.services .service-block h2.web-maintenance {
    background-image: url(../assets/icon-pencil.png); }
  ul.services .service-block h2.it-network {
    background-image: url(../assets/icon-network.png); }
  ul.services .service-block h2.it-email {
    background-image: url(../assets/icon-email.png); }
  ul.services .service-block h2.it-desktop {
    background-image: url(../assets/icon-mouse.png); }
  ul.services .service-block h2.it-sharepoint {
    background-image: url(../assets/icon-sharepoint.png); }

footer {
  padding-top: 60px; }

@media screen and (min-width: 1024px) {
  .folio-screenshot:first-child {
    padding-right: 0; }
  .folio-screenshot:last-child {
    padding-left: 0; } }
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .featured-project div:first-child {
    padding-right: 0; } }
@media screen and (max-width: 600px) {
  .featured-project {
    display: flex;
    flex-direction: column; }

  .folio-screenshot {
    display: block;
    order: -1; }

  .folio-desc {
    display: block;
    order: 1;
    margin-top: 12px;
    padding-top: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc; }

  .flex {
    display: block; } }
.no-flexbox .flex, .no-flexbox .featured-project, .no-flexbox .folio-desc {
  display: block; }
.no-flexbox .folio-desc {
  background-color: transparent;
  padding-top: 24px; }
