// STYLE.SCSS

$body-font: 'Oxygen', HelveticaNeue, sans-serif;
$body-font-color: #2d2d2d;

*, p, li, em, blockquote, span, strong, tr, td, th {
	font-family: $body-font;
	color: $body-font-color;
	font-weight: 300;
}

header, footer {
	background-color: #fff;
}

body {
	background: #f9f9f9;
}

h1, h2, h3, h4, h5  {
	font-family: $body-font;
	font-weight: 300;
	color: $body-font-color;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4, h5, h6 { font-size: 1em; }

header.site-header {
	min-height: 175px;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

.section-title {
	clear: both;
	
	//width: 100%;
	//max-width: 62.5em;
	text-align: center;
	h2 {
		margin-bottom: 60px;
		padding-bottom: 8px;
		border-bottom: 1px solid #222;
		text-transform: uppercase;
		font-weight: 300;
		display: inline-block;
	}
}

.top-text {
	margin: 80px auto 60px;
}

.featured-project {
	margin-bottom: 28px;
	display: flex;
	//align-items: center;
	position: relative;
	.folio-desc {
		background-color: #fff;
		//height: 100%;
		//position: relative;
		display: flex;

		.desc-content {
			align-self: center;
			padding: 0 40px;
		}
		h2, p {
			//display: inline-block;
		}
	}
	.folio-screenshot {
		display: flex;
		//background-color: transparent;
		//background-size: cover;
		//background-repeat: no-repeat;
	}
}

.featured-project:hover .folio-desc {
	background-color: #222;
	transition: all 1000ms;
	.desc-content h2, .desc-content p {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

ul.services {
	//padding: 0 15px;
	.service-block {
		h2 {
			text-align: center;
			text-transform: uppercase;
			//border-bottom: 1px solid #222;
			padding-top: 60px;
			background: transparent top center no-repeat;
			//background-size: contain;
			&.web-responsive {
				background-image: url(../assets/icon-responsive.png);
			}
			&.web-development {
				background-image: url(../assets/icon-gears.png);
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.folio-screenshot {
		&:first-child {
			padding-right: 0;
		}
		&:last-child {
			padding-left: 0;
		}
	}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
	.featured-project {
		div:first-child {
			padding-right: 0;
		}
		div:last-child {
			//padding-left: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.featured-project {
		display: flex;
		flex-direction: column;
	}
	.folio-screenshot {
		display: block;
		order: -1;
	}
	.folio-desc {
		display: block;
		order: 1;
		margin-top: 12px;
		padding-top: 12px;
		margin-bottom: 12px;
		border-bottom: 1px solid #ccc;
	}
	.flex {
		display: block;
	}
}

.no-flexbox {
	.flex, .featured-project, .folio-desc {
		display: block;
	}
	.folio-desc {
		background-color: transparent;
		padding-top: 24px;
	}
}