
        <div class="page-title"><h2>{{ title }}</h2></div>
        <div class="row">
            <div class="small-12 columns">
                {{ project_description }}
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <img src="{{ main_image }}" />
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                <div class="monitor-wrap">
                    <ul class="folio-slides" data-orbit data-options="slide_number:false; animation:slide; timer_speed:4000; animation_speed:700;">
                        {{ project_screenshots }}
                        <li>
                            <img src="{{ screenshot }}" />
                        </li>
                        {{ /project_screenshots }}
                        
                    </ul>
                    <div class="slider-overlay"><img src="/assets/monitor-blank.png" /></div>
                </div>
            </div>

        </div>
        <div class="folio-nav-wrap">
        <div class="row folio-nav">

            {{ entries:previous folder="our-work" }}

                <div class="prev small-6 columns align-right">
                    {{ if !no_results }}
                        <a href="{{ url }}"><h3>Previous Project</h3></a>
                    {{ endif }}
                </div>

            {{ /entries:previous }}

            {{ entries:next folder="our-work" }}

                 <div class="next small-6 columns align-left">
                    {{ if !no_results }}
                        <a href="{{ url }}"><h3>Next Project</h3></a>
                    {{ endif }}
                </div>

            {{ /entries:next }}
        </div>
        </div>
