<footer>
          <div class="row">
            <div class="large-12 columns">
                    
              <h2 id="contact" class="contact-header">We'd Love to hear from you</h2>
                </div>
                <div class="large-3 columns">
                        <h3>Backbeat Web</h3>
                        <p>Mike Graham <br/>
                (512) 576-7606<br />
                mike@backbeatweb.com
                        </p>
                </div>
                <div class="large-3 columns">
                        <h3>Robo6K</h3>
                        <p>
                Peter Hanna<br />
                (512) 917-5731<br />
                peter@robo6k.com
                        </p>
              </p>
            </div>
            <div class="large-6 columns">
              {{ if {raven:has_errors} }}
                    <h3>Ummmm...We seem to have a little problem.</h3>
                    <ul class="errors">
                     {{ raven:errors }}
                        {{ missing }}
                          <li>You're missing: {{ field }}</li>
                        {{ /missing }}

                        {{ invalid }}
                          <li>Invalid {{ field }}: {{ message }}</li>
                        {{ /invalid }}

                      {{ /raven:errors }}
                    </ul>
                {{ endif }}

                {{ if {raven:success} }}
                    <h3>Your message has been sent!</h3>
                {{ endif }}

                {{ raven:form formset="contact" return="#contact" error="#contact"}}
                  <label>Name</label><input type="text" name="name" value="{{ value:name }}" />
                  <label>Email</label><input type="email" name="email" value="{{ value:email }}" />
                  <label>Message</label><textarea name="message">{{ value:message }}</textarea>
                  <input type="submit" value="Send It!" />
                {{ /raven:form }}
            </div>
          </div>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
        <script src="/{{ theme_path }}js/foundation.min.js" ></script>
        <script src="/{{ theme_path }}js/jquery.smooth-scroll.min.js" ></script>
        <script>
        $(document).foundation();
        $(document).ready(function(){
            $('a.scroll').smoothScroll({
                offset: -215,
                easing: 'swing',
                speed: 1000
            });
        });

        </script>